@import "normalize.css";

@font-face {
    font-family: "Open Sans";
    src: local("OpenSans-Regular"), url(/fonts/OpenSans-Regular.woff) format("woff"),
    url(/fonts/OpenSans-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("OpenSans-Bold"), url(/fonts/OpenSans-Regular.woff) format("woff"),
    url(/fonts/OpenSans-Regular.woff) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*General-styles*/

.page {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0f0d0e;
    max-width: 1660px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.link {

}

.heading {
    text-transform: uppercase;
    line-height: 1.821875rem;
    padding: 0;
    margin: 0;
}

.tag {
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #b59f5b;
    line-height: 2.5rem;
    font-weight: bold;
}

.data {
    font-size: 0.75rem;
    line-height: 2.5rem;
}

.main-section-header {

}

.content-container {

}

.header {
    margin: 0;
    padding: 0;
}

.content-container__item {

}

.button-link {
    font-weight: bold;
    line-height: 2.5rem;
    color: #ffffff;
    background-color: #b59f5b;
}

.input {
    background-color: #f4f7f6;
}

.content-column {
    width: 1170px;
    margin: 0 auto;
}

/*Header-styles*/

.main-header {
    height: 450px;
    width: 100%;
    background-image: url(/images/banner-bg.jpg);
    background-position-y: -1px;
    background-repeat: no-repeat;
    position: relative;
}

.main-header:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0 0 0 /0.6);

}

.main-header_elements-container {
    box-sizing: border-box;
    padding: 29px 245px 0 245px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header__heading {
    font-size: 2.8125rem;
    color: #ffffff;
    line-height: 4.6875rem;
    margin: 100px 19% 0 ;

    /*padding: 126px 146px;*/
    text-align: center;
    width: 100%;
    font-variant-ligatures: normal;

}

.logo-link {

}

.logo {
    padding-left: 3px;
}

.main-menu {

}

.nav-links {
    display: flex;
    padding-top: 11px;
    gap: 35px;

}

.nav-links__item {
    color: #ffffff;
}

.nav-links__link {
    font-size: 0.8125rem;
}

/*Trand-section styles*/

.trends {
    height: 443px;
    flex-wrap: wrap;
}

.section__header {
    height: 123px;
    width: 100%;
}

.section-heading {
    display: block;
    font-size: 1.25rem;
    line-height: 1.821875rem;
    text-align: center;
    padding-top: 56px;
}

.section-heading:after {
    display: block;
    width: 66px;
    content: "";
    border-bottom: 3px solid #b59f5b;
    opacity: 40%;
    margin: 0 auto;
    padding-bottom: 7px;
}

.section__content-container {
    height: calc(443px - 123px);
    width: initial;
    display: flex;
    gap: 4px;
}

.section__item {
    background-color: #999999;
}

.section__item:first-child, .section__item:last-child {
    width: 410px;
}

.section__item:nth-child(2), .section__item:nth-child(3) {
    width: 414px;
}

.link-container {
    width: inherit;
    height: inherit;
}

.link-container__block-1 {
    background-image: url(/images/trend1.jpg);
    background-position-x: -5px;
}

.link-container__block-2 {
    background-image: url(/images/trend2.jpg);
    background-position-x: 0;
}

.link-container__block-3 {
    background-image: url(/images/trend3.jpg);
    background-position-x: -1px;
}

.link-container__block-4 {
    background-image: url("images/trend4.jpg");
    background-position-x: -1px;
    background-position-y: 0;
}

.link-container__interior {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-container__interior:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 /0.6);
}

.link-container__text-container {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 33px;
    padding-left: 32px;
    padding-top: 19px;
    border: 3px solid rgba(181, 159, 91, 0.6);
    margin-bottom: 16px;
    align-self: end;
}

.link-container__block-1 .link-container__text-container {
    margin-left: 19px;
    margin-right: 22px;
    padding-right: 65px;
}

.link-container__block-4 .link-container__text-container {
    margin-right: 19px;
    margin-left: 22px;
}

.link-container__block-2 .link-container__text-container {
    margin-left: 21px;
    margin-right: 24px;
}

.link-container__block-3 .link-container__text-container {
    margin-right: 21px;
    margin-left: 24px;
    padding-right: 65px;
}

.link-container__name {
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.5rem;
}

.link-container__tag {
    display: inline-block;
    line-height: 1.957rem;
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 12px;
}

/*Snippets-section styles*/

.two-columns-section {
    display: flex;

}

.section-articles {
    width: 76.83760684%;
        margin-top: 51px;
}

.articles {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

.articles__item:nth-child(1) {
    margin-bottom: 59px;
}

.articles__item:nth-child(2) {
    margin-bottom: 60px;
}

.articles__item:nth-child(3) {
    margin-bottom: 61px;
}

.articles__item:nth-child(4) {
    margin-bottom: 62px;
}

/*.articles__item:last-child {;*/
/*    margin-bottom: 0;*/
/*}*/

.snippet {
    display: flex;
    align-content: flex-start;
    height: 294px;
    /*margin-top: -13px;*/
}

.text-block {
    padding-left: 29px;
    padding-right: 125px;
}

.snippet__header {

}

.snippet__tags {
    margin-left: 2px;
    display: flex;
    justify-content: flex-start;
    gap: 18px;

}

.snippet__tag {
    /*margin-right: 14px;*/
}

.snippet__link {

}

.snippet__heading {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: -4px;

}

.snippet__author-data-container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 13px;
    margin-bottom: 35px;
}

.snippet__data {
    color: #888888;
}

.snippet__author {
    font-size: 0.75rem;
    color: #000000;
    line-height: 2.5rem;
    font-weight: bold;

}

.snippet__text {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    margin: 0;
    padding-bottom: 10px;
}

.snippet__img {
    padding-top: 13px;
}

/*Aside-section styles*/

.aside {
    width: 23.16239316%;
}

.label {

}

.new-posts {

}

.aside__header {

}

.aside__text{
    font-size: 0.875rem;
}

.aside__content-container {

}

.content-container__item {

}

.article-link {

}

.article-link__image {

}

.article-link__data {
 color: #000000;
}

.article-link__name {
    line-height: 1.125rem;
}

.search {

}

.search-form {

}

.search-form__label {

}

.search-form__input {

}

.search-form__button {

}

.search-form__img {

}

.subscribe {

}

.subscribe-form {

}

.subscribe-form__label {

}

.subscribe-form__input {

}

.subscribe-form__button {
}

.tags {

}

.tag-container {
}

.tag-container__item {

}

.tag-container__tag {
    color: #0f0d0e;
}

.topics {

}

.topics-container {

}

.topics-container__item {

}

.topics-container__topic {

}

.topic-container__link {
    font-weight: bold;
}

.topic-container__name {
    font-size: 0.875rem;
    color: #000000;
}

.topic-container__posts-quantity {
    font-size: 0.75rem;
    line-height: 2.30125rem;
    color: #b59f5b;
}

.shop {
    height: 562px;
    padding-top: 13px;
}

.shop__content-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;

}

.content-container__item {

}

.shop__item {
    position: relative;
    box-sizing: border-box;
    /*height: 440px;*/
    width: 347px;
    display: flex;
    flex-flow: column;

}

.shop__image {
    margin: 0 auto;
    width: 300px;
}

.shop__card {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    position: absolute;
    height: 262px;
    top: 173px;
    border: 3px solid rgba(181, 159, 91, 0.6);

}

.shop__name {
    font-size: 0.98125rem;
    color: #000000;
}

.shop__text {
    color: #0f0d0e;
}

.shop__additional-link {
    color: #b59f5b;
}

.shop__price-container {
    font-weight: bold;
    color: #0f0d0e;
}

.shop__old-price {
    font-size: 0.875rem;
    text-decoration: line-through;
}

.shop__price {
    font-size: 1.25rem;

}

.shop__link {

}

/*Footer styles*/

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 67px;
}

.social-media {
    width: 100%;
    height: 82px;
    background-color: #f4f7f6;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.social-media__item {
    display: inline-block;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 0;
}

.social-media__logo {
    justify-self: center;
    align-self: center;
}

.copyright {
    display: flex;
    width: 100%;
    margin-top: 58px;
    justify-content: center;

}

.copyright__phrase {
    display: inline-block;
    padding-left: 12px;
    font-size: 0.75rem;
    line-height: 2.5rem;
    color: #999999;
    font-weight: bold;
}

/*Модификаторы*/

.search-form__button_disable {

}